body{
    background-color: #c5d1cf;
    font-size: Small;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,h3{
    text-align:center;
    color:#3a4856
}

#log{
    border: 2px solid #3a4856;
    padding: 2px;
    margin: 2px;
    background-color: #97c0c2;
    text-decoration: none;
    color:#3a4856
}

#reg{
     text-align: center;
    border: 2px solid #3a4856;
    padding: 2px;
    margin: 2px;
    background-color:  #97c0c2;
     text-decoration: none;
    color:#3a4856
}

#game{
     text-align: center;
    border: 2px solid #3a4856;
    padding: 2px;
    margin: 2px;
    background-color:  #97c0c2;
     text-decoration: none;
    color:#3a4856
}

.input{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    margin-left: 450px;
    margin-right: 450px;
    padding: 20px;
    box-shadow: 0 5px 10px #636e6e;
    border: 1px solid white;
    
}

h4{
    display: flex;
    justify-content: center;
}

.buttons{
    display: flex;
    justify-content: center;
}

img{
    display:block;
    margin: auto;
    margin-top: 40px;
    width: 400px;


}